body{
    background-color: rgb(225, 241, 255);
}


.modal-bg{
    background-color: rgba(0,0,0,0.5);
}

.modal-dialog{
    width: 25vw;
}

.modal label{
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    
    .modal-dialog{
        width: 90vw;
        margin: auto;
    }
}